/*I learned how to use the :hover pseudo-class selector to change the color of the text when hovering over it */
<style>
  a {
    color: black;
  }
  a:hover {
    color: blue;
  }



</style>
<a href="http://freecatphotoapp.com/" target="_blank">CatPhotoApp</a>
